@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --primary-color: #0f3460;
  --secondary-color: #16213e;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier Prime', sans-serif;
  background-image: url(img/bg1.jpeg);
  background-repeat: no-repeat;
  background-size: fit;
  color: var(--primary-color);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.125);
  border-radius: 25px;
  width: 600px;
  height: 80vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 45px;
  color: var(--secondary-color);
}

input {
  font-family: 'Courier Prime', sans-serif;
  font-size: 22px;
  color: var(--secondary-color);
  padding: 10px;
  background: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 25px;
  text-align: center;
  outline: none;
  margin-bottom: 25px;
}

::placeholder {
  color: var(--secondary-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 10px;
}

.city,
.feels-like-temp,
.humidity,
.min-max,
.desc {
  font-size: 30px;
}

.temp {
  font-size: 50px;
}

.desc {
  text-transform: capitalize;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }

  .city,
  .feels-like-temp,
  .humidity,
  .min-max,
  .desc {
    font-size: 25px;
  }

  .temp {
    font-size: 40px;
  }
}